---
import Footer from "../components/ui/Footer.astro";
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import Header from "../components/ui/Header";
import "aos/dist/aos.css";

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />

		<!-- Title & Description -->
		<title>{title}</title>
		<meta
			name="description"
			content={description}
		/>

		<!-- SEO -->
		<meta
			name="keywords"
			content="desarrollo de software, desarrollo web, aplicaciones web, sistemas a medida, React, Next.js, Node.js, análisis de datos"
		/>
		<meta name="author" content="Tu Empresa" />
		<meta name="robots" content="index, follow" />

		<!-- Open Graph -->
		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content={`${title} | Desarrollo de Software`}
		/>
		<meta
			property="og:description"
			content="Desarrollo de software a medida, plataformas web modernas y soluciones digitales enfocadas en resultados."
		/>
		<meta property="og:image" content="/og-image.png" />
		<meta property="og:url" content="https://tudominio.com" />

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:title"
			content={`${title} | Desarrollo de Software`}
		/>
		<meta
			name="twitter:description"
			content="Soluciones digitales, desarrollo web y software escalable para empresas."
		/>
		<meta name="twitter:image" content="/og-image.png" />

		<!-- Favicon -->
		<link rel="icon" href="/public/DSWHITE.png" />

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
			rel="stylesheet"
		/>

		<ClientRouter />
	</head>

	<body>
		<Header client:load />
		<main class="mt-5 py-10 bg-main">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script>
	import AOS from "aos";

	function initAOS() {
		AOS.init({
			duration: 1000,
			once: true,
			offset: 100,
			easing: "ease-out-cubic",
		});

		AOS.refresh();
	}

	document.addEventListener("astro:page-load", initAOS);
</script>
